*{
    border: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
    height: 100vh;
}
.container{
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 50px;
    background-color: #161b22;
}
.container h1{
    line-height: 130%;
}

h1{
    text-align: left;
    font-size: 50px;
    padding: 10px 0 0px 0;
    color: #c9d1d9;
    border-bottom: 1px solid #30363d;
}
span{
    color: #58a6ff;
    font-weight: 500;
}

p{
    margin: 55px 0 20px 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 50px 5px 50px;
    height:40px;
    color: #c9d1d9;
    background-color: #273549;
    font-size: 1.5rem;
}
button{
    margin: 50px auto;
    padding: 10px 60px;
    color: black;
    background-color: #58a6ff;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease-in 0.4s;
    width: 100%;
}
button:hover{
    color: black;
    background-color: #0366d6;
}
.custom-notification{
    position: fixed;
    color: white;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0366d6;
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
}